<div class="section">
  <div class="container">
    <h1>Experience</h1>
    <h2 class='pb-1'>Employment</h2>
    <!-- Ser Cymru -->
    {% include job.html title="Ser Cymru COFUND Research Fellow" institution="Cardiff University" description="<i>Improving gravitational-wave astrophysics with advanced user-end software</i>,

<ul class='pt-2'>
<li>development of Python and web-based tools for the GW community to simplify data access, analysis, and visualisation,</li>
<li>management of development projects for LIGO data-quality investigations,</li>
<li>development of software and documentation to support study of open data by the wider scientific community and the public</li>
</ul>

Supported by the Welsh Government." years="2017-2020" %}
      <!-- LSU-LDG -->
      {% include job.html title="Postdoctoral Researcher" institution="Louisiana State University" description="Software systems development for the LIGO Data Grid, including:

<ul class='pt-2'>
<li>Python tools for studying instrumental data,</li>
<li>large-scale data aggregation with HTML interface,</li>
<li>Django/ReST interface to instrumental data channel database.</li>
</ul>

Supported by National Science Foundation award <a href='http://www.nsf.gov/awardsearch/showAward?AWD_ID=1104371' target='_blank'>PHY-1104371</a>." years="2013-2017" %}
    <h2 class="pt-4 pb-1">Appointments | Committees</h2>
    <ul class="list-group">
      {% include xp.html title="Chair, LIGO Scientific Collaboration (LSC) Computing and Software Committee" years="2019-" %}
      {% include xp.html title="Scientific Organising Committee, <a href='https://indico.in2p3.fr/event/18313/' target='_blank'><i>Gravitational Wave Open Data Workshop #2</i></a>" years="2019" %}
      {% include xp.html title="Chair, LIGO-Virgo Software Change Control Board (SCCB)" years="2018-" %}
      {% include xp.html title="Scientific Organising Committee, <a href='https://openastronomy.org/pyastro/2018/' target='_blank'><i>Python In Astronomy 2018</i></a>" years="2018" %}
      {% include xp.html title="Scientific Organising Committee, <a href='https://www.gw-openscience.org/s/workshop1/' target='_blank'><i>Gravitational Wave Open Data Workshop #1</i></a>" years="2018" %}
      {% include xp.html title="Chair, LSC Remote Participation Committee" years="2016-" %}
      {% include xp.html title="Chair, Data-Quality sub-group of LSC Detector Characterization Committee" years="2014-2018" %}
    </ul>
  </div>
</div>
