<div class="section bg-warning text-light">
  <div class="container" id="projects">
    <h1>My projects</h1>
    <div class="card-columns">
{% include project.html name="GWpy" url_base="https://github.com" tag="gwpy/gwpy" class="fab fa-github" desc="A python package to trivialise access to, and basic analysis of, data from second-generation gravitational wave observatories" %}
{% include project.html name="gwosc" url_base="https://github.com" tag="gwpy/gwosc" class="fab fa-github" desc="A python interface to the GWOSC data archive" %}
{% include project.html name="GWDetChar" url_base="https://github.com" tag="gwdetchar/gwdetchar" class="fab fa-github" desc="GW Detector Characterization python utilities" %}
{% include project.html name="PyCBC" url_base="https://github.com" tag="gwastro/pycbc" class="fab fa-github" desc="Core package that provides tools to analyze gravitational-wave data, find signals, and study their parameters" %}
{% include project.html name="Hveto" url_base="https://github.com" tag="hveto/hveto" class="fab fa-github" desc="A Hierarchical method of identifying noise transients in gravitational-wave data" %}
{% include project.html name="LVCAllies.org" url_base="https:/" tag="lvcallies.org" class="fas fa-globe" desc="Website for the LVC Allies anti-harrassment group" %}
{% include project.html name="LIGO Detector Status" url_base="https:/" tag="losc.ligo.org/detector_status/" class="fas fa-globe" desc="LIGO Open Science Center detector status website" %}
{% include project.html name="This website!" url_base="https://github.com" tag="duncanmmacleod/duncanmmacleod.github.io" class="fab fa-github" desc="Source code for this website, powered by GitHub Pages" %}
    </div>
  </div>
</div>
