---
layout: default
title: Duncan Macleod's personal website
---
<!-- banner -->
<div class="banner">
  <div class="container">
    <div class="page-header">
      <h1>Scientific software developer</h1>
{% include social.html %}
    </div>
  </div>
</div>

<!-- profile -->
<div class="container section" id="profile" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-3 gravatar mb-4">
      <img class="img-fluid rounded gravatar" src="https://www.gravatar.com/avatar/908e4540ff5f9fe2f2a71380302cfe55.jpg?s=400">
    </div>
    <div class="col-md-9">
      <h1>About me</h1>
      <p>I am a S&ecirc;r Cymru Research Fellow at <a href="https://cardiff.ac.uk" target="_blank" style="color: #bf0D3e;">Cardiff University</a>.</p>
      <p>My research focuses on improving analysis of data from ground-based laser interferometer gravitational-wave observatories (e.g. <a href="https://ligo.org" target="_blank">LIGO</a> and <a href="https://www.ego-gw.it" target="_blank">Virgo</a>) by developing better software.</p>
      <span>From my perspective 'better' is synonymous with 'easier to use', meaning the software should be:</span>
      <ul style="padding-top": >
        <li><strong>intuitive</strong> (easy to use without reading the manual),</li>
        <li><strong>well-documented</strong> (has a good manual), and</li>
        <li><strong>robust</strong> (doesn't crash when it shouldn't)</li>
      </ul>
    </div>
  </div>
</div>

<!-- skills -->
{% include_relative _skills.html %}

<!-- social media -->
<div class="section" id="social-media">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Twitter</h2>
        <a class="twitter-timeline" data-height="400" data-theme="light" href="https://twitter.com/duncanmmacleod?ref_src=twsrc%5Etfw">Tweets by duncanmmacleod</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>

<!-- projects -->
{% include_relative _projects.html %}
