<nav class="navbar navbar-expand-md static-top navbar-dark">
  <div class="container">
    <!-- navbar header -->
    <a class="navbar-brand" href="/">Duncan Macleod</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- navbar menu -->
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/publications/">Publications</a></li>
      </ul>
    <div>
  <div>
</nav>
