      <div class="social-links">
        <a href="mailto:duncanmmacleod@gmail.com" class="fas fa-envelope" target="_blank"></a>
        <a href="https://facebook.com/duncanmmacleod" class="fab fa-facebook" target="_blank"></a>
        <a href="https://github.com/duncanmmacleod" class="fab fa-github" target="_blank"></a>
        <a href="https://linkedin.com/in/duncanmmacleod" class="fab fa-linkedin" target="_blank"></a>
        <a href="https://twitter.com/duncanmmacleod" class="fab fa-twitter-square" target="_blank"></a>
      </div>
