.fa-envelope {
		color: #3b5998;
}

.fa-facebook {
		color: #3b5998;
}

.fa-github {
		color: #333333;
		.text-light & {
				color: #999;
		}
}

.fa-linkedin {
		color: #0077b5;
}

.fa-twitter-square {
		color: #1da1f;
}
