---
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Conda status</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <div class="container">
      <h1>Conda-forge feedstock status</h1>
      <table class="table table-sm table-hover table-striped table-condensed">
        <caption>Status of conda-forge builds for which <a href="https://github.com/duncanmmacleod" target="_blank">@duncanmmacleod</a> is a maintainer</caption>
        <thead>
          <tr><th>Package</th><th>Build</th><th>Issues</th><th>Pull requests</th></tr>
        </thead>
        <tbody>
          {% include cf.html name="argparse-manpage" azureid="8582" %}
          {% include cf.html name="avahi" azureid="9016" %}
          {% include cf.html name="bayeswave" azureid="6145" %}
          {% include cf.html name="bc" azureid="87" %}
          {% include cf.html name="bilby" azureid="2564" %}
          {% include cf.html name="bilby_pipe" azureid="6894" %}
          {% include cf.html name="bruco" azureid="6383" %}
          {% include cf.html name="cdsutils" azureid="10237" %}
          {% include cf.html name="celery-eternal" azureid="2336" %}
          {% include cf.html name="celery-singleton" azureid="2338" %}
          {% include cf.html name="chealpix" azureid="143" %}
          {% include cf.html name="ciecplib" azureid="8902" %}
          {% include cf.html name="cigetcert" azureid="7197" %}
          {% include cf.html name="click-didyoumean" azureid="9315" %}
          {% include cf.html name="comet" azureid="6094" %}
          {% include cf.html name="compilers" azureid="6168" %}
          {% include cf.html name="cpnest" azureid="7907" %}
          {% include cf.html name="ctypesgen" azureid="12457" %}
          {% include cf.html name="cursor" azureid="9312" %}
          {% include cf.html name="cwinpy" azureid="8869" %}
          {% include cf.html name="dbus-python" azureid="9011" %}
          {% include cf.html name="diot" azureid="12843" %}
          {% include cf.html name="dqsegdb" azureid="2620" %}
          {% include cf.html name="dqsegdb2" azureid="248" %}
          {% include cf.html name="ecp-cookie-init" azureid="11742" %}
          {% include cf.html name="epsie" azureid="9529" %}
          {% include cf.html name="ezca" azureid="6887" %}
          {% include cf.html name="fgivenx" azureid="11054" %}
          {% include cf.html name="finesse" azureid="12871" %}
          {% include cf.html name="framel" azureid="9818" %}
          {% include cf.html name="frv" azureid="12382" %}
          {% include cf.html name="gds" azureid="12872" %}
          {% include cf.html name="gds-frameio" azureid="12903" %}
          {% include cf.html name="gds-lowlatency-tools" azureid="12932" %}
          {% include cf.html name="gds-lsmp" azureid="12904" %}
          {% include cf.html name="gds-root-extensions" azureid="12949" %}
          {% include cf.html name="gds-swig" azureid="12930" %}
          {% include cf.html name="git-filter-repo" azureid="11575" %}
          {% include cf.html name="gitlab-runner" azureid="7459" %}
          {% include cf.html name="gpstime" azureid="5589" %}
          {% include cf.html name="gracedb-sdk" azureid="8717" %}
          {% include cf.html name="gst-orc" azureid="6075" %}
          {% include cf.html name="gst-python" azureid="6092" %}
          {% include cf.html name="gstlal" azureid="6159" %}
          {% include cf.html name="gstlal-burst" azureid="9065" %}
          {% include cf.html name="gstlal-calibration" azureid="9066" %}
          {% include cf.html name="gstlal-inspiral" azureid="9064" %}
          {% include cf.html name="gstlal-ugly" azureid="9041" %}
          {% include cf.html name="guardian" azureid="7947" %}
          {% include cf.html name="gwcelery" azureid="6203" %}
          {% include cf.html name="gwdatafind" azureid="399" %}
          {% include cf.html name="gwdetchar" azureid="6245" %}
          {% include cf.html name="gwinc" azureid="11060" %}
          {% include cf.html name="gwollum" azureid="8797" %}
          {% include cf.html name="gwosc" azureid="2984" %}
          {% include cf.html name="gwpy" azureid="400" %}
          {% include cf.html name="gwsumm" azureid="6562" %}
          {% include cf.html name="gwsurrogate" azureid="8781" %}
          {% include cf.html name="gwtools" azureid="8069" %}
          {% include cf.html name="gwtrigfind" azureid="6116" %}
          {% include cf.html name="gwvet" azureid="8615" %}
          {% include cf.html name="halo" azureid="9311" %}
          {% include cf.html name="htchirp" azureid="7572" %}
          {% include cf.html name="htcondor" azureid="8358" %}
          {% include cf.html name="htmap" azureid="9310" %}
          {% include cf.html name="hveto" azureid="6336" %}
          {% include cf.html name="igwn-cmake" azureid="10028" %}
          {% include cf.html name="inspiral-range" azureid="10054" %}
          {% include cf.html name="jwt-cpp" azureid="12793" %}
          {% include cf.html name="kombine" azureid="3075" %}
          {% include cf.html name="lal" azureid="3989" %}
          {% include cf.html name="lalapps" azureid="2543" %}
          {% include cf.html name="lalburst" azureid="3993" %}
          {% include cf.html name="lalframe" azureid="3994" %}
          {% include cf.html name="lalinference" azureid="3992" %}
          {% include cf.html name="lalinspiral" azureid="3991" %}
          {% include cf.html name="lalmetaio" azureid="5486" %}
          {% include cf.html name="lalpulsar" azureid="5926" %}
          {% include cf.html name="lalsimulation" azureid="5924" %}
          {% include cf.html name="lalsuite" azureid="2554" %}
          {% include cf.html name="ldas-tools-al" azureid="4917" %}
          {% include cf.html name="ldas-tools-al-swig" azureid="6045" %}
          {% include cf.html name="ldas-tools-cmake" azureid="517" %}
          {% include cf.html name="ldas-tools-diskcacheapi" azureid="2630" %}
          {% include cf.html name="ldas-tools-diskcacheapi-swig" azureid="8025" %}
          {% include cf.html name="ldas-tools-filters" azureid="2387" %}
          {% include cf.html name="ldas-tools-frameapi" azureid="2613" %}
          {% include cf.html name="ldas-tools-frameapi-swig" azureid="7946" %}
          {% include cf.html name="ldas-tools-framecpp" azureid="5104" %}
          {% include cf.html name="ldas-tools-framecpp-swig" azureid="6124" %}
          {% include cf.html name="ldas-tools-ldasgen" azureid="2597" %}
          {% include cf.html name="ldas-tools-ldasgen-swig" azureid="2596" %}
          {% include cf.html name="ldas-tools-utilities" azureid="7945" %}
          {% include cf.html name="libdaemon" azureid="9008" %}
          {% include cf.html name="libframe" azureid="537" %}
          {% include cf.html name="ligo-asimov" azureid="11302" %}
          {% include cf.html name="ligo-common" azureid="6061" %}
          {% include cf.html name="ligo-followup-advocate" azureid="2632" %}
          {% include cf.html name="ligo-gracedb" azureid="6062" %}
          {% include cf.html name="ligo-lvalert" azureid="5330" %}
          {% include cf.html name="ligo-proxy-utils" azureid="11737" %}
          {% include cf.html name="ligo-raven" azureid="2631" %}
          {% include cf.html name="ligo-requests" azureid="8720" %}
          {% include cf.html name="ligo-segments" azureid="587" %}
          {% include cf.html name="ligo.skymap" azureid="2628" %}
          {% include cf.html name="ligotimegps" azureid="5192" %}
          {% include cf.html name="ligotools" azureid="8036" %}
          {% include cf.html name="liquidpy" azureid="12838" %}
          {% include cf.html name="log_symbols" azureid="9313" %}
          {% include cf.html name="lscsoft-glue" azureid="600" %}
          {% include cf.html name="markuppy" azureid="6338" %}
          {% include cf.html name="metaio" azureid="627" %}
          {% include cf.html name="munge" azureid="7935" %}
          {% include cf.html name="nds2-client" azureid="670" %}
          {% include cf.html name="nds2-client-swig" azureid="671" %}
          {% include cf.html name="ndscope" azureid="8640" %}
          {% include cf.html name="nestcheck" azureid="11053" %}
          {% include cf.html name="omicron" azureid="8796" %}
          {% include cf.html name="otter-report" azureid="11454" %}
          {% include cf.html name="p_astro" azureid="2577" %}
          {% include cf.html name="parallel-bilby" azureid="11055" %}
          {% include cf.html name="pcaspy" azureid="6873" %}
          {% include cf.html name="pegasus-wms" azureid="11459" %}
          {% include cf.html name="pegasus-wms.api" azureid="11461" %}
          {% include cf.html name="pegasus-wms.common" azureid="11458" %}
          {% include cf.html name="pegasus-wms.dax" azureid="11460" %}
          {% include cf.html name="pegasus-wms.worker" azureid="11457" %}
          {% include cf.html name="pesummary" azureid="6146" %}
          {% include cf.html name="picojson" azureid="12795" %}
          {% include cf.html name="ptemcee" azureid="2330" %}
          {% include cf.html name="pycbc" azureid="6120" %}
          {% include cf.html name="pydv" azureid="6687" %}
          {% include cf.html name="pygcn" azureid="2331" %}
          {% include cf.html name="pykerberos" azureid="8911" %}
          {% include cf.html name="pyomicron" azureid="10428" %}
          {% include cf.html name="pyrxp" azureid="2492" %}
          {% include cf.html name="pytest-freezegun" azureid="8719" %}
          {% include cf.html name="pytest-httpserver" azureid="8718" %}
          {% include cf.html name="pytest-socket" azureid="6097" %}
          {% include cf.html name="python-ligo-lw" azureid="4625" %}
          {% include cf.html name="python-pegasus-wms" azureid="6113" %}
          {% include cf.html name="qt" azureid="20" %}
          {% include cf.html name="randomgen" azureid="9531" %}
          {% include cf.html name="requests-ecp" azureid="9107" %}
          {% include cf.html name="requests-gracedb" azureid="9000" %}
          {% include cf.html name="requests-kerberos" azureid="9029" %}
          {% include cf.html name="rift" azureid="8248" %}
          {% include cf.html name="root_numpy" azureid="4307" %}
          {% include cf.html name="safe-netrc" azureid="2521" %}
          {% include cf.html name="sbank" azureid="12140" %}
          {% include cf.html name="scitokens" azureid="12641" %}
          {% include cf.html name="scitokens-cpp" azureid="12794" %}
          {% include cf.html name="skyarea" azureid="6133" %}
          {% include cf.html name="sleek-lvalert" azureid="6128" %}
          {% include cf.html name="sleekxmpp" azureid="5830" %}
          {% include cf.html name="slixmpp" azureid="10618" %}
          {% include cf.html name="sly" azureid="12870" %}
          {% include cf.html name="sphinxcontrib-doxylink" azureid="6125" %}
          {% include cf.html name="spinners" azureid="9309" %}
          {% include cf.html name="voeventlib" azureid="2629" %}
        </tbody>
      </table>
    </div>
  </body>
</html>
