---
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Conda status</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <div class="container">
      <h1>Conda-forge feedstock status</h1>
      <table class="table table-sm table-hover table-striped table-condensed">
        <caption>Status of conda-forge builds for which <a href="https://github.com/duncanmmacleod" target="_blank">@duncanmmacleod</a> is a maintainer</caption>
        <thead>
          <tr><th>Package</th><th>Build</th><th>Issues</th><th>Pull requests</th></tr>
        </thead>
        <tbody>
          {% include cf.html azureid="6145" name="bayeswave" %}
          {% include cf.html azureid="6145" name="bc" %}
          {% include cf.html azureid="2564" name="bilby" %}
          {% include cf.html azureid="6894" name="bilby_pipe" %}
          {% include cf.html azureid="6383" name="bruco" %}
          {% include cf.html azureid="2336" name="celery-eternal" %}
          {% include cf.html azureid="2338" name="celery-singleton" %}
          {% include cf.html azureid="143"  name="chealpix" %}
          {% include cf.html azureid="6383" name="comet" %}
          {% include cf.html azureid="7907" name="cpnest" %}
          {% include cf.html azureid="6383" name="dqsegdb" %}
          {% include cf.html azureid="6383" name="dqsegdb2" %}
          {% include cf.html azureid="6383" name="ezca" %}
          {% include cf.html azureid="5589" name="gpstime" %}
          {% include cf.html azureid="6159" name="gstlal" %}
          {% include cf.html azureid="6075" name="gst-orc" %}
          {% include cf.html azureid="6203" name="gst-python" %}
          {% include cf.html azureid="6203" name="gwcelery" %}
          {% include cf.html azureid="6245" name="gwdatafind" %}
          {% include cf.html azureid="6245" name="gwdetchar" %}
          {% include cf.html azureid="400"  name="gwosc" %}
          {% include cf.html azureid="400"  name="gwpy" %}
          {% include cf.html azureid="400"  name="gwsumm" %}
          {% include cf.html azureid="400"  name="gwtrigfind" %}
          {% include cf.html azureid="7572" name="htchirp" %}
          {% include cf.html azureid="6336" name="hveto" %}
          {% include cf.html azureid="3989" name="kombine" %}
          {% include cf.html azureid="3989" name="lal" %}
          {% include cf.html azureid="3994" name="lalframe" %}
          {% include cf.html azureid="5486" name="lalmetaio" %}
          {% include cf.html azureid="5924" name="lalsimulation" %}
          {% include cf.html azureid="3993" name="lalburst" %}
          {% include cf.html azureid="3991" name="lalinspiral" %}
          {% include cf.html azureid="5926" name="lalpulsar" %}
          {% include cf.html azureid="3992" name="lalinference" %}
          {% include cf.html azureid="2543" name="lalapps" %}
          {% include cf.html azureid="2554" name="lalsuite" %}
          {% include cf.html azureid="517"  name="ldas-tools-cmake" %}
          {% include cf.html azureid="4917" name="ldas-tools-al" %}
          {% include cf.html azureid="6045" name="ldas-tools-al-swig" %}
          {% include cf.html azureid="2630" name="ldas-tools-diskcacheapi" %}
          {% include cf.html azureid="5104" name="ldas-tools-diskcacheapi-swig" %}
          {% include cf.html azureid="5104" name="ldas-tools-filters" %}
          {% include cf.html azureid="5104" name="ldas-tools-framecpp" %}
          {% include cf.html azureid="5104" name="ldas-tools-framecpp-swig" %}
          {% include cf.html azureid="5104" name="ldas-tools-frameapi" %}
          {% include cf.html azureid="5104" name="ldas-tools-frameapi-swig" %}
          {% include cf.html azureid="2597" name="ldas-tools-ldasgen" %}
          {% include cf.html azureid="2597" name="ldas-tools-ldasgen-swig" %}
          {% include cf.html azureid="537"  name="libframe" %}
          {% include cf.html azureid="2628" name="ligotimegps" %}
          {% include cf.html azureid="2628" name="ligo.skymap" %}
          {% include cf.html azureid="6061" name="ligo-common" %}
          {% include cf.html azureid="2632" name="ligo-followup-advocate" %}
          {% include cf.html azureid="6062" name="ligo-gracedb" %}
          {% include cf.html azureid="6062" name="ligo-lvalert" %}
          {% include cf.html azureid="2631" name="ligo-raven" %}
          {% include cf.html azureid="587"  name="ligo-segments" %}
          {% include cf.html azureid="600"  name="lscsoft-glue" %}
          {% include cf.html azureid="2631" name="markuppy" %}
          {% include cf.html azureid="2631" name="metaio" %}
          {% include cf.html azureid="7935" name="munge" %}
          {% include cf.html azureid="2631" name="nds2-client" %}
          {% include cf.html azureid="671" name="nds2-client-swig" %}
          {% include cf.html azureid="2577" name="p_astro" %}
          {% include cf.html azureid="6146" name="pcaspy" %}
          {% include cf.html azureid="6146" name="pesummary" %}
          {% include cf.html azureid="6146" name="ptemcee" %}
          {% include cf.html azureid="6120" name="pycbc" %}
          {% include cf.html azureid="6113" name="pydv" %}
          {% include cf.html azureid="2331" name="pygcn" %}
          {% include cf.html azureid="6113" name="python-ligo-lw" %}
          {% include cf.html azureid="6113" name="python-pegasus-wms" %}
          {% include cf.html azureid="6113" name="root_numpy" %}
          {% include cf.html azureid="6113" name="safe-netrc" %}
          {% include cf.html azureid="6113" name="skyarea" %}
          {% include cf.html azureid="6113" name="sleekxmpp" %}
          {% include cf.html azureid="6113" name="sleek-lvalert" %}
          {% include cf.html azureid="6113" name="voeventlib" %}
        </tbody>
      </table>
    </div>
  </body>
</html>
